services:
  - type: web
    name: portfolio
    runtime: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist/portfolio/browser
    pullRequestPreviewsEnabled: true
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=31536000
      - path: /index.html
        name: Cache-Control
        value: no-cache
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
